/* start glopal */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
html{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}
.fa-circle-up{
    font-size: 30px;
    position: fixed;
    bottom:30px;
    right: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right:30px;
}
.main-text{
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    transform: translateY(50px);
    margin-bottom: 100px;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px whitesmoke;
    text-transform: uppercase;
    border:3px solid whitesmoke;
    transition: all 0.5s;
    position: relative;
}.main-text::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: -40px;
    transition: all 1s;
    transform: translateY(-50%);
}
.main-text::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}
 .main-text:hover{
    cursor: pointer;
    color:white;
    background-color:black;
    border:none;
    letter-spacing: 4px;
    box-shadow: 0 0 10px rgb(26, 24, 24);
    transition-delay:0.5s;
}  

.main-text:hover::before{
    animation: move-left 0.5s linear forwards;
}
.main-text:hover::after{
    animation: move-right 0.5s linear forwards;
}
@keyframes move-left {
    50%{
        left:0;
        width:12px;
        height: 12px;
    }
     100%{
        left:0;
        width:100%;
        height:100%;
        border-radius:20px;
        z-index: -1;
     }
}
@keyframes move-right {
    50%{
        right:0;
        width:12px;
        height: 12px;
    }
     100%{
        right:0;
        width:100%;
        height:100%;
        border-radius:20px;
        z-index: -1;
     }
}







/* end glopal */
/* start header */
header{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px whitesmoke;
    overflow: hidden;
}
header nav{
    align-items: center;
    justify-content: space-around;
    display: flex;
}
header nav ul li a{
    padding:10px 25px;
    display: inline-block;
    color:black;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}
header nav ul li a:before{
    content: "";
    position: absolute;
    height: 5px;
    background-color: black;
    width: 0;
    top: 0px;
    left: 0;
    transition: all 1s;
}
header nav ul li:hover a::before{
    width:100%;
}
header nav ul li:hover a{
    letter-spacing: 2px;
}
header nav ul{
    display: flex;
} 
header div h1{
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
header div h1:hover{
    letter-spacing: 2px;
    text-shadow: 0 0 5px black;
    transform: scale(1.1);
}
@media(max-width:650px){
    header{
        display:flex;
        flex-direction: column;
    }
    header div{
        width:100%;
    }
    header div h1{
       width:fit-content;
       margin: 0 auto;
       padding: 10px 20px;
    }
    header nav ul{
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width:410px){
    header nav ul li a{
        padding:10px 10px;
        font-size: 18px;
    }
    
}
/* end header */
/* start main  */
main{
    width:90%;
    margin-left: 5%;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
}
main .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 40px;
}
main .container section:nth-child(1){
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
main .container section:nth-child(1) h3{
    font-size: 30px;
    border:4px solid ;
    width:fit-content;
    margin: 0 auto;
    padding:10px 20px;
    border-color: transparent transparent black transparent;
}
main .container section:nth-child(1) p{
    padding: 20px 0;
    font-size: 20px;
}
main .container section:nth-child(1) p span{
    opacity: 0.5;
}
main .container section:last-child img{
    border:2px solid;
    border-color: red black blue yellow;
    width:200px;
    height: 200px;
    margin: 0 auto;
    transition: all 1s;
    border-radius: 50%;
}
main .container section:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
main .container section:last-child h1{
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
/* @media (max-width:890px){
    main .container section:last-child img{
        left: 50%;
    }
} */
/* end main  */
/* start skills  */
.skills{
    width:90%;
    margin-left: 5%;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    margin-bottom: 50px;
}
.skills .container{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.skills .container section{
    width:25%;
    display: flex;
    box-shadow: 0 0 5px black;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    transition: all 1s;
}
.skills .container section:hover{
    padding:10px;
    border-radius: 20px;
    transform: scale(1.1);
}
.skills .container section i{
    font-size: 100px;
}
/* end skills  */
/* start footer  */
footer{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 30px;
}
footer p{
    padding: 10px;
}
/* end footer  */